/* line 1, ../scss/_alert-boxes.scss */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
/* line 7, ../scss/_alert-boxes.scss */
.alert h4 {
  margin-top: 0;
  color: inherit;
}
/* line 12, ../scss/_alert-boxes.scss */
.alert.alert-link {
  font-weight: bold;
}
/* line 16, ../scss/_alert-boxes.scss */
.alert p, .alert ul {
  margin-bottom: 0;
}
/* line 19, ../scss/_alert-boxes.scss */
.alert p + p {
  margin-top: 5px;
}

/* line 24, ../scss/_alert-boxes.scss */
.alert-dismissable {
  padding-right: 35px;
}
/* line 27, ../scss/_alert-boxes.scss */
.alert-dismissable.close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

/* line 34, ../scss/_alert-boxes.scss */
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

/* line 39, ../scss/_alert-boxes.scss */
.alert-success hr {
  border-top-color: #c9e2b3;
}

/* line 42, ../scss/_alert-boxes.scss */
.alert-success .alert-link {
  color: #2b542c;
}

/* line 45, ../scss/_alert-boxes.scss */
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/* line 50, ../scss/_alert-boxes.scss */
.alert-info hr {
  border-top-color: #a6e1ec;
}

/* line 53, ../scss/_alert-boxes.scss */
.alert-info .alert-link {
  color: #245269;
}

/* line 56, ../scss/_alert-boxes.scss */
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

/* line 61, ../scss/_alert-boxes.scss */
.alert-warning hr {
  border-top-color: #f7e1b5;
}

/* line 64, ../scss/_alert-boxes.scss */
.alert-warning .alert-link {
  color: #66512c;
}

/* line 67, ../scss/_alert-boxes.scss */
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

/* line 72, ../scss/_alert-boxes.scss */
.alert-danger hr {
  border-top-color: #e4b9c0;
}

/* line 75, ../scss/_alert-boxes.scss */
.alert-danger .alert-link {
  color: #843534;
}

/* Themes */
/* Very Light blue */
/* Light blue */
/* Dark blue */
/* Grey */
/* Font colours*/
/* Include Compass mixins */
/* navigation elements */
/* line 4, ../scss/_medium-styles.scss */
.wrapper {
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
  padding-bottom: 35.2px;
  padding-bottom: 2.2rem;
}
/* line 8, ../scss/_medium-styles.scss */
.wrapper h1.logo {
  margin-top: 64px;
  margin-top: 4rem;
  margin-bottom: 48px;
  margin-bottom: 3rem;
}

/* line 14, ../scss/_medium-styles.scss */
.no-js .wrapper {
  background: url("/theme/default/img/background.jpg");
  background-position: top;
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}

/* line 24, ../scss/_medium-styles.scss */
.canvas-nav {
  background-color: #2c4371;
  width: auto;
  position: relative;
  height: auto;
  padding-top: 0 !important;
  margin-right: 0 !important;
  right: 0;
}
/* line 33, ../scss/_medium-styles.scss */
.canvas-nav ul li {
  display: inline;
  list-style-type: none;
  float: left;
}
/* line 38, ../scss/_medium-styles.scss */
.canvas-nav ul li a {
  display: block;
  font-size: 12.8px;
  font-size: 0.8rem;
  padding: 10px 28px;
}
/* line 43, ../scss/_medium-styles.scss */
.canvas-nav ul li.seperator {
  width: 0px;
}
/* line 49, ../scss/_medium-styles.scss */
.canvas-nav ul li:last-child a {
  padding-right: 0;
}

/* line 56, ../scss/_medium-styles.scss */
.canvas-content {
  margin-top: 0px;
}

/* line 61, ../scss/_medium-styles.scss */
.breadcrumb-wrapper .inline-list {
  margin-left: 0;
}

/* line 66, ../scss/_medium-styles.scss */
.main-nav {
  background-color: #2c4371;
}
/* line 69, ../scss/_medium-styles.scss */
.main-nav nav ul {
  margin: 0;
  padding: 0;
}
/* line 73, ../scss/_medium-styles.scss */
.main-nav nav ul li a:first-child {
  padding-left: 0;
}
/* line 76, ../scss/_medium-styles.scss */
.main-nav nav ul li a {
  color: #fff;
  display: block;
  text-transform: uppercase;
  font-weight: normal;
}
/* line 81, ../scss/_medium-styles.scss */
.main-nav nav ul li a:hover {
  color: #d5e9f4;
}

/* line 90, ../scss/_medium-styles.scss */
.home-search {
  max-width: 560px;
  margin: 0 auto;
}
/* line 94, ../scss/_medium-styles.scss */
.home-search fieldset {
  margin-top: 0;
}
/* line 98, ../scss/_medium-styles.scss */
.home-search ul.inline-list {
  margin: 0;
}
/* line 100, ../scss/_medium-styles.scss */
.home-search ul.inline-list li {
  text-transform: uppercase;
  font-size: 11.2px;
  font-size: 0.7rem;
  width: 78.288px;
  width: 4.893rem;
  text-align: center;
  -moz-box-shadow: inset 0px -7px 16px -8px #8a8a8a;
  -webkit-box-shadow: inset 0px -7px 16px -8px #8a8a8a;
  box-shadow: inset 0px -7px 16px -8px #8a8a8a;
  margin-left: 2px;
  background-color: #E9EDF1;
  background-color: rgba(255, 255, 255, 0.6);
}
/* line 109, ../scss/_medium-styles.scss */
.home-search ul.inline-list li:first-child {
  margin-left: 0;
}
/* line 116, ../scss/_medium-styles.scss */
.home-search ul.inline-list li.active {
  box-shadow: none;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.8);
}
/* line 121, ../scss/_medium-styles.scss */
.home-search ul.inline-list li a {
  color: #707070;
  font-family: 'Open Sans';
  letter-spacing: 0;
  font-weight: 700;
  display: block;
  line-height: 32px;
  line-height: 2rem;
}

/* line 134, ../scss/_medium-styles.scss */
.filter-form-fields select, .filter select {
  margin: 0 !important;
}

/* We use this to get basic styling on all basic form elements */
/* line 140, ../scss/_medium-styles.scss */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
select,
textarea {
  -webkit-appearance: auto;
  font-size: 14px;
}

/* line 159, ../scss/_medium-styles.scss */
.footer {
  margin-top: 40px;
  padding-top: 40px !important;
  clear: both;
}

/* line 1, ../scss/_alert-boxes.scss */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
/* line 7, ../scss/_alert-boxes.scss */
.alert h4 {
  margin-top: 0;
  color: inherit;
}
/* line 12, ../scss/_alert-boxes.scss */
.alert.alert-link {
  font-weight: bold;
}
/* line 16, ../scss/_alert-boxes.scss */
.alert p, .alert ul {
  margin-bottom: 0;
}
/* line 19, ../scss/_alert-boxes.scss */
.alert p + p {
  margin-top: 5px;
}

/* line 24, ../scss/_alert-boxes.scss */
.alert-dismissable {
  padding-right: 35px;
}
/* line 27, ../scss/_alert-boxes.scss */
.alert-dismissable.close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

/* line 34, ../scss/_alert-boxes.scss */
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

/* line 39, ../scss/_alert-boxes.scss */
.alert-success hr {
  border-top-color: #c9e2b3;
}

/* line 42, ../scss/_alert-boxes.scss */
.alert-success .alert-link {
  color: #2b542c;
}

/* line 45, ../scss/_alert-boxes.scss */
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/* line 50, ../scss/_alert-boxes.scss */
.alert-info hr {
  border-top-color: #a6e1ec;
}

/* line 53, ../scss/_alert-boxes.scss */
.alert-info .alert-link {
  color: #245269;
}

/* line 56, ../scss/_alert-boxes.scss */
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

/* line 61, ../scss/_alert-boxes.scss */
.alert-warning hr {
  border-top-color: #f7e1b5;
}

/* line 64, ../scss/_alert-boxes.scss */
.alert-warning .alert-link {
  color: #66512c;
}

/* line 67, ../scss/_alert-boxes.scss */
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

/* line 72, ../scss/_alert-boxes.scss */
.alert-danger hr {
  border-top-color: #e4b9c0;
}

/* line 75, ../scss/_alert-boxes.scss */
.alert-danger .alert-link {
  color: #843534;
}

/* Themes */
/* Very Light blue */
/* Light blue */
/* Dark blue */
/* Grey */
/* Font colours*/
/* Include Compass mixins */
/* line 5, ../scss/_large-styles.scss */
.canvas-nav ul.menu-right {
  float: right;
}

/* zurb foundation 4 grid column fix for ie8 and below */
/* line 49, ../scss/no-mq.scss */
.show-for-small {
  display: none !important;
}

/* line 52, ../scss/no-mq.scss */
.show-for-medium-up {
  display: block !important;
}

/* line 55, ../scss/no-mq.scss */
.small-centered, .medium-centered, .large-centered {
  margin: 0 auto;
  width: 100% !important;
}

/* line 13, ../scss/no-mq.scss */
.small-1 {
  width: 4.16667%;
  *width: 4.16667%;
}

/* line 18, ../scss/no-mq.scss */
.medium-1 {
  width: 4.16667%;
  *width: 4.16667%;
}

/* line 23, ../scss/no-mq.scss */
.large-1 {
  width: 4.16667% !important;
  *width: 4.16667% !important;
}

/* thanks to pinder */
/* line 31, ../scss/no-mq.scss */
.large-offset-1 {
  margin-left: 4.16667%;
  *margin-left: 4.16667%;
}

/* allows centering block elements */
/* line 37, ../scss/no-mq.scss */
.centered-1 {
  margin-left: 47.91667%;
  *margin-left: 47.91667%;
}

/* line 13, ../scss/no-mq.scss */
.small-2 {
  width: 8.33333%;
  *width: 8.33333%;
}

/* line 18, ../scss/no-mq.scss */
.medium-2 {
  width: 8.33333%;
  *width: 8.33333%;
}

/* line 23, ../scss/no-mq.scss */
.large-2 {
  width: 8.33333% !important;
  *width: 8.33333% !important;
}

/* thanks to pinder */
/* line 31, ../scss/no-mq.scss */
.large-offset-2 {
  margin-left: 8.33333%;
  *margin-left: 8.33333%;
}

/* allows centering block elements */
/* line 37, ../scss/no-mq.scss */
.centered-2 {
  margin-left: 45.83333%;
  *margin-left: 45.83333%;
}

/* line 13, ../scss/no-mq.scss */
.small-3 {
  width: 12.5%;
  *width: 12.5%;
}

/* line 18, ../scss/no-mq.scss */
.medium-3 {
  width: 12.5%;
  *width: 12.5%;
}

/* line 23, ../scss/no-mq.scss */
.large-3 {
  width: 12.5% !important;
  *width: 12.5% !important;
}

/* thanks to pinder */
/* line 31, ../scss/no-mq.scss */
.large-offset-3 {
  margin-left: 12.5%;
  *margin-left: 12.5%;
}

/* allows centering block elements */
/* line 37, ../scss/no-mq.scss */
.centered-3 {
  margin-left: 43.75%;
  *margin-left: 43.75%;
}

/* line 13, ../scss/no-mq.scss */
.small-4 {
  width: 16.66667%;
  *width: 16.66667%;
}

/* line 18, ../scss/no-mq.scss */
.medium-4 {
  width: 16.66667%;
  *width: 16.66667%;
}

/* line 23, ../scss/no-mq.scss */
.large-4 {
  width: 16.66667% !important;
  *width: 16.66667% !important;
}

/* thanks to pinder */
/* line 31, ../scss/no-mq.scss */
.large-offset-4 {
  margin-left: 16.66667%;
  *margin-left: 16.66667%;
}

/* allows centering block elements */
/* line 37, ../scss/no-mq.scss */
.centered-4 {
  margin-left: 41.66667%;
  *margin-left: 41.66667%;
}

/* line 13, ../scss/no-mq.scss */
.small-5 {
  width: 20.83333%;
  *width: 20.83333%;
}

/* line 18, ../scss/no-mq.scss */
.medium-5 {
  width: 20.83333%;
  *width: 20.83333%;
}

/* line 23, ../scss/no-mq.scss */
.large-5 {
  width: 20.83333% !important;
  *width: 20.83333% !important;
}

/* thanks to pinder */
/* line 31, ../scss/no-mq.scss */
.large-offset-5 {
  margin-left: 20.83333%;
  *margin-left: 20.83333%;
}

/* allows centering block elements */
/* line 37, ../scss/no-mq.scss */
.centered-5 {
  margin-left: 39.58333%;
  *margin-left: 39.58333%;
}

/* line 13, ../scss/no-mq.scss */
.small-6 {
  width: 25%;
  *width: 25%;
}

/* line 18, ../scss/no-mq.scss */
.medium-6 {
  width: 25%;
  *width: 25%;
}

/* line 23, ../scss/no-mq.scss */
.large-6 {
  width: 25% !important;
  *width: 25% !important;
}

/* thanks to pinder */
/* line 31, ../scss/no-mq.scss */
.large-offset-6 {
  margin-left: 25%;
  *margin-left: 25%;
}

/* allows centering block elements */
/* line 37, ../scss/no-mq.scss */
.centered-6 {
  margin-left: 37.5%;
  *margin-left: 37.5%;
}

/* line 13, ../scss/no-mq.scss */
.small-7 {
  width: 29.16667%;
  *width: 29.16667%;
}

/* line 18, ../scss/no-mq.scss */
.medium-7 {
  width: 29.16667%;
  *width: 29.16667%;
}

/* line 23, ../scss/no-mq.scss */
.large-7 {
  width: 29.16667% !important;
  *width: 29.16667% !important;
}

/* thanks to pinder */
/* line 31, ../scss/no-mq.scss */
.large-offset-7 {
  margin-left: 29.16667%;
  *margin-left: 29.16667%;
}

/* allows centering block elements */
/* line 37, ../scss/no-mq.scss */
.centered-7 {
  margin-left: 35.41667%;
  *margin-left: 35.41667%;
}

/* line 13, ../scss/no-mq.scss */
.small-8 {
  width: 33.33333%;
  *width: 33.33333%;
}

/* line 18, ../scss/no-mq.scss */
.medium-8 {
  width: 33.33333%;
  *width: 33.33333%;
}

/* line 23, ../scss/no-mq.scss */
.large-8 {
  width: 33.33333% !important;
  *width: 33.33333% !important;
}

/* thanks to pinder */
/* line 31, ../scss/no-mq.scss */
.large-offset-8 {
  margin-left: 33.33333%;
  *margin-left: 33.33333%;
}

/* allows centering block elements */
/* line 37, ../scss/no-mq.scss */
.centered-8 {
  margin-left: 33.33333%;
  *margin-left: 33.33333%;
}

/* line 13, ../scss/no-mq.scss */
.small-9 {
  width: 37.5%;
  *width: 37.5%;
}

/* line 18, ../scss/no-mq.scss */
.medium-9 {
  width: 37.5%;
  *width: 37.5%;
}

/* line 23, ../scss/no-mq.scss */
.large-9 {
  width: 37.5% !important;
  *width: 37.5% !important;
}

/* thanks to pinder */
/* line 31, ../scss/no-mq.scss */
.large-offset-9 {
  margin-left: 37.5%;
  *margin-left: 37.5%;
}

/* allows centering block elements */
/* line 37, ../scss/no-mq.scss */
.centered-9 {
  margin-left: 31.25%;
  *margin-left: 31.25%;
}

/* line 13, ../scss/no-mq.scss */
.small-10 {
  width: 41.66667%;
  *width: 41.66667%;
}

/* line 18, ../scss/no-mq.scss */
.medium-10 {
  width: 41.66667%;
  *width: 41.66667%;
}

/* line 23, ../scss/no-mq.scss */
.large-10 {
  width: 41.66667% !important;
  *width: 41.66667% !important;
}

/* thanks to pinder */
/* line 31, ../scss/no-mq.scss */
.large-offset-10 {
  margin-left: 41.66667%;
  *margin-left: 41.66667%;
}

/* allows centering block elements */
/* line 37, ../scss/no-mq.scss */
.centered-10 {
  margin-left: 29.16667%;
  *margin-left: 29.16667%;
}

/* line 13, ../scss/no-mq.scss */
.small-11 {
  width: 45.83333%;
  *width: 45.83333%;
}

/* line 18, ../scss/no-mq.scss */
.medium-11 {
  width: 45.83333%;
  *width: 45.83333%;
}

/* line 23, ../scss/no-mq.scss */
.large-11 {
  width: 45.83333% !important;
  *width: 45.83333% !important;
}

/* thanks to pinder */
/* line 31, ../scss/no-mq.scss */
.large-offset-11 {
  margin-left: 45.83333%;
  *margin-left: 45.83333%;
}

/* allows centering block elements */
/* line 37, ../scss/no-mq.scss */
.centered-11 {
  margin-left: 27.08333%;
  *margin-left: 27.08333%;
}

/* line 13, ../scss/no-mq.scss */
.small-12 {
  width: 50%;
  *width: 50%;
}

/* line 18, ../scss/no-mq.scss */
.medium-12 {
  width: 50%;
  *width: 50%;
}

/* line 23, ../scss/no-mq.scss */
.large-12 {
  width: 50% !important;
  *width: 50% !important;
}

/* thanks to pinder */
/* line 31, ../scss/no-mq.scss */
.large-offset-12 {
  margin-left: 50%;
  *margin-left: 50%;
}

/* allows centering block elements */
/* line 37, ../scss/no-mq.scss */
.centered-12 {
  margin-left: 25%;
  *margin-left: 25%;
}

/* line 13, ../scss/no-mq.scss */
.small-13 {
  width: 54.16667%;
  *width: 54.16667%;
}

/* line 18, ../scss/no-mq.scss */
.medium-13 {
  width: 54.16667%;
  *width: 54.16667%;
}

/* line 23, ../scss/no-mq.scss */
.large-13 {
  width: 54.16667% !important;
  *width: 54.16667% !important;
}

/* thanks to pinder */
/* line 31, ../scss/no-mq.scss */
.large-offset-13 {
  margin-left: 54.16667%;
  *margin-left: 54.16667%;
}

/* allows centering block elements */
/* line 37, ../scss/no-mq.scss */
.centered-13 {
  margin-left: 22.91667%;
  *margin-left: 22.91667%;
}

/* line 13, ../scss/no-mq.scss */
.small-14 {
  width: 58.33333%;
  *width: 58.33333%;
}

/* line 18, ../scss/no-mq.scss */
.medium-14 {
  width: 58.33333%;
  *width: 58.33333%;
}

/* line 23, ../scss/no-mq.scss */
.large-14 {
  width: 58.33333% !important;
  *width: 58.33333% !important;
}

/* thanks to pinder */
/* line 31, ../scss/no-mq.scss */
.large-offset-14 {
  margin-left: 58.33333%;
  *margin-left: 58.33333%;
}

/* allows centering block elements */
/* line 37, ../scss/no-mq.scss */
.centered-14 {
  margin-left: 20.83333%;
  *margin-left: 20.83333%;
}

/* line 13, ../scss/no-mq.scss */
.small-15 {
  width: 62.5%;
  *width: 62.5%;
}

/* line 18, ../scss/no-mq.scss */
.medium-15 {
  width: 62.5%;
  *width: 62.5%;
}

/* line 23, ../scss/no-mq.scss */
.large-15 {
  width: 62.5% !important;
  *width: 62.5% !important;
}

/* thanks to pinder */
/* line 31, ../scss/no-mq.scss */
.large-offset-15 {
  margin-left: 62.5%;
  *margin-left: 62.5%;
}

/* allows centering block elements */
/* line 37, ../scss/no-mq.scss */
.centered-15 {
  margin-left: 18.75%;
  *margin-left: 18.75%;
}

/* line 13, ../scss/no-mq.scss */
.small-16 {
  width: 66.66667%;
  *width: 66.66667%;
}

/* line 18, ../scss/no-mq.scss */
.medium-16 {
  width: 66.66667%;
  *width: 66.66667%;
}

/* line 23, ../scss/no-mq.scss */
.large-16 {
  width: 66.66667% !important;
  *width: 66.66667% !important;
}

/* thanks to pinder */
/* line 31, ../scss/no-mq.scss */
.large-offset-16 {
  margin-left: 66.66667%;
  *margin-left: 66.66667%;
}

/* allows centering block elements */
/* line 37, ../scss/no-mq.scss */
.centered-16 {
  margin-left: 16.66667%;
  *margin-left: 16.66667%;
}

/* line 13, ../scss/no-mq.scss */
.small-17 {
  width: 70.83333%;
  *width: 70.83333%;
}

/* line 18, ../scss/no-mq.scss */
.medium-17 {
  width: 70.83333%;
  *width: 70.83333%;
}

/* line 23, ../scss/no-mq.scss */
.large-17 {
  width: 70.83333% !important;
  *width: 70.83333% !important;
}

/* thanks to pinder */
/* line 31, ../scss/no-mq.scss */
.large-offset-17 {
  margin-left: 70.83333%;
  *margin-left: 70.83333%;
}

/* allows centering block elements */
/* line 37, ../scss/no-mq.scss */
.centered-17 {
  margin-left: 14.58333%;
  *margin-left: 14.58333%;
}

/* line 13, ../scss/no-mq.scss */
.small-18 {
  width: 75%;
  *width: 75%;
}

/* line 18, ../scss/no-mq.scss */
.medium-18 {
  width: 75%;
  *width: 75%;
}

/* line 23, ../scss/no-mq.scss */
.large-18 {
  width: 75% !important;
  *width: 75% !important;
}

/* thanks to pinder */
/* line 31, ../scss/no-mq.scss */
.large-offset-18 {
  margin-left: 75%;
  *margin-left: 75%;
}

/* allows centering block elements */
/* line 37, ../scss/no-mq.scss */
.centered-18 {
  margin-left: 12.5%;
  *margin-left: 12.5%;
}

/* line 13, ../scss/no-mq.scss */
.small-19 {
  width: 79.16667%;
  *width: 79.16667%;
}

/* line 18, ../scss/no-mq.scss */
.medium-19 {
  width: 79.16667%;
  *width: 79.16667%;
}

/* line 23, ../scss/no-mq.scss */
.large-19 {
  width: 79.16667% !important;
  *width: 79.16667% !important;
}

/* thanks to pinder */
/* line 31, ../scss/no-mq.scss */
.large-offset-19 {
  margin-left: 79.16667%;
  *margin-left: 79.16667%;
}

/* allows centering block elements */
/* line 37, ../scss/no-mq.scss */
.centered-19 {
  margin-left: 10.41667%;
  *margin-left: 10.41667%;
}

/* line 13, ../scss/no-mq.scss */
.small-20 {
  width: 83.33333%;
  *width: 83.33333%;
}

/* line 18, ../scss/no-mq.scss */
.medium-20 {
  width: 83.33333%;
  *width: 83.33333%;
}

/* line 23, ../scss/no-mq.scss */
.large-20 {
  width: 83.33333% !important;
  *width: 83.33333% !important;
}

/* thanks to pinder */
/* line 31, ../scss/no-mq.scss */
.large-offset-20 {
  margin-left: 83.33333%;
  *margin-left: 83.33333%;
}

/* allows centering block elements */
/* line 37, ../scss/no-mq.scss */
.centered-20 {
  margin-left: 8.33333%;
  *margin-left: 8.33333%;
}

/* line 13, ../scss/no-mq.scss */
.small-21 {
  width: 87.5%;
  *width: 87.5%;
}

/* line 18, ../scss/no-mq.scss */
.medium-21 {
  width: 87.5%;
  *width: 87.5%;
}

/* line 23, ../scss/no-mq.scss */
.large-21 {
  width: 87.5% !important;
  *width: 87.5% !important;
}

/* thanks to pinder */
/* line 31, ../scss/no-mq.scss */
.large-offset-21 {
  margin-left: 87.5%;
  *margin-left: 87.5%;
}

/* allows centering block elements */
/* line 37, ../scss/no-mq.scss */
.centered-21 {
  margin-left: 6.25%;
  *margin-left: 6.25%;
}

/* line 13, ../scss/no-mq.scss */
.small-22 {
  width: 91.66667%;
  *width: 91.66667%;
}

/* line 18, ../scss/no-mq.scss */
.medium-22 {
  width: 91.66667%;
  *width: 91.66667%;
}

/* line 23, ../scss/no-mq.scss */
.large-22 {
  width: 91.66667% !important;
  *width: 91.66667% !important;
}

/* thanks to pinder */
/* line 31, ../scss/no-mq.scss */
.large-offset-22 {
  margin-left: 91.66667%;
  *margin-left: 91.66667%;
}

/* allows centering block elements */
/* line 37, ../scss/no-mq.scss */
.centered-22 {
  margin-left: 4.16667%;
  *margin-left: 4.16667%;
}

/* line 13, ../scss/no-mq.scss */
.small-23 {
  width: 95.83333%;
  *width: 95.83333%;
}

/* line 18, ../scss/no-mq.scss */
.medium-23 {
  width: 95.83333%;
  *width: 95.83333%;
}

/* line 23, ../scss/no-mq.scss */
.large-23 {
  width: 95.83333% !important;
  *width: 95.83333% !important;
}

/* thanks to pinder */
/* line 31, ../scss/no-mq.scss */
.large-offset-23 {
  margin-left: 95.83333%;
  *margin-left: 95.83333%;
}

/* allows centering block elements */
/* line 37, ../scss/no-mq.scss */
.centered-23 {
  margin-left: 2.08333%;
  *margin-left: 2.08333%;
}

/* line 13, ../scss/no-mq.scss */
.small-24 {
  width: 100%;
  *width: 100%;
}

/* line 18, ../scss/no-mq.scss */
.medium-24 {
  width: 100%;
  *width: 100%;
}

/* line 23, ../scss/no-mq.scss */
.large-24 {
  width: 100% !important;
  *width: 100% !important;
}

/* thanks to pinder */
/* line 31, ../scss/no-mq.scss */
.large-offset-24 {
  margin-left: 100%;
  *margin-left: 100%;
}

/* allows centering block elements */
/* line 37, ../scss/no-mq.scss */
.centered-24 {
  margin-left: 0%;
  *margin-left: 0%;
}

/* line 44, ../scss/no-mq.scss */
.row .row {
  *margin-left: 0;
  /* fix ie7 margins */
}
